
/*Titulos y Textos*/
.bodyEventos{
    color:#9E8E78;
    text-align: justify;
}
#contenedorEventos h1{
    font-family: 'Amatic SC';
    color: #9E8E78;
    font-size: 600%;
    margin-bottom: 3%;
    margin-left: 4%;
    margin-right: 5%;
}

#contenedorEventos h1 img{
    width: 5%;
    height: 5%;
}

