/*
|--------------------------------------------------------------------------
| GESTIÓN ANIMALES - Estilo para la vista animales.blade.php
|--------------------------------------------------------------------------
*/

div.contenedor{
    margin: 30px;
    padding: 20px;
}

/*
|---------------
| FILTRO
|---------------
*/

div#filtro h3{
    color:#80725F;
    margin: 10px;
}

div#filtro{
    padding: 10px;
    background-color: #DCC7AA;
    border-radius: 15px;
    margin-bottom: 25px;
}
#filtro .container{
    margin: 0px;
    width: auto;
}


#filtro .botones{
    margin-left: 10%;
}

.botones{
    float: right;    right: 0;
}

ul.error{
    color: red;
}

input.error,
select.error,
textarea.error{
    box-shadow: 2px 2px 2px 1px red;
}

/*
|---------------
| FICHA
|---------------
*/

div#ficha p{
    margin-left: 15px;
}
div.fichaTitulo{
    padding: 5px;
    color:white;
    background-color: #526071;
}

div.fichaTitulo img{
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor:pointer;

}

div#ficha{
    margin-bottom: 25px;
}

a.insertar{
    background-color: #4DD295;
}

button.insertar,
button.insertarFoto,
.subirFoto,
.fichaBotones .guardar{
    color:white;
    background-color: #4DD295; 
}

button.eliminarFoto,
.fichaBotones .eliminar{
    background-color:red;
    color: white;
}


button.insertar:hover,
button.buscar:hover{
    box-shadow: 2px 2px 10px #444F5B;        /* Sombra normal */
}

.fichaAnimal{
    padding: 0px;
}
div.fichaDescripcion span.titulo{
    font-weight: bold;
}
div.fichaAnimal,
div.fichaPersona{
    margin-right: 10px;
}
div.fichaPersona{
    padding: 0px;
    opacity: 0.80;
}
div.fichaAnimal .fichaDescripcion,
div.fichaPersona .fichaDescripcion,
div.fichaAnimal .fichaBotones{
    padding-top: 10px;
    color:#80725F; 
}
div.fichaPersona{
    height: 50%;
}

button.elimianar{
    background-color: red;
}
/*Ficha FOTOS*/
div.fichaFotos h5{
    padding-left: 30px;
}

.fichaFotos img:hover{
    box-shadow: 2px 2px 10px #666;        /* Sombra normal */

}

img.principal{
    border: 2px solid orange;
}
img.seleccionado{
    /*        box-shadow: 0px 0px 20px #444F5B;         Sombra normal */

    border: 4px solid #444F5B;
}

div.fichaFotos span.botones{
    padding-right: 5px;
}
span.botones button.eliminarFoto{
    visibility: hidden;
}
div.galeria {
    color: gray;
    padding: 10px;

}
div.galeria img{
    width: 130px;
    height: 100px;
    margin: 10px;
    cursor:pointer;
}
div.fichaFotos div.d-flex{
    margin-bottom: 10px;
}
.fichaFotos{
    padding: 0px;
}


/*IMAGEN*/
.insertarImagen > input{
    display: none;
}

.insertarImagen button{
    cursor: pointer;
}
.seleccionarFoto .mr-auto{
    width: 500px;
}
.fileValor{
    margin-left: 5%;
    width: 300px;
    color: gray;
}

/*Modificar Animal*/

.fichaBotones .modificar{
    background-color: #EEF495;
}



.fichaDescripcion span.descripcion textarea{
    width: 100%;
}

span.contador{
    color:#80725F;
    font-weight: bold;
}

/*
|---------------
| MODALS
|---------------
*/

/*Modal Eliminar Animal*/

#eliminarModal,
#informacionModal{
    margin-top: 15%;
}

#eliminarModal,
#informacionModal,
#insertarModal{
    color:#80725F;
}
#eliminarModal .card-body,
#informacionModal .card-body{
    font-size: 25px;
}
/*Modal Eliminar Animal - Insertar Animal*/
#eliminarModal .modal-header,
#insertarModal .modal-header{
    background-color: #F7882F;
    color: white;
}

/*Modal información*/
#informacionModal div.correcto .modal-header{
    background-color: mediumseagreen;
    color: white;
}
#informacionModal div.incorrecto .modal-header{
    background-color:darkred;
    color: white;
}
/* Insertar Animal*/
#insertarModal input,
#insertarModal select{
    width: 70%;
}
#insertarModal input[name=sexo]{
    width: auto;
}
#insertarModal input[name=fecha]{
    width: 90%;
}
#insertarModal textarea{
    width: 100%;
}

/*MSG Errores*/
.form-group h6 span{
    color: red;
}
ul.msgError{
    color: red;
}


/*
|---------------
| TABLA
|---------------
*/
#resultado table{
    text-align: center;

}
thead.cabecera{
    background-color: #80725F;
    color: white;
}
tbody tr:hover{
    background-color: #F4F6F8;
}
tbody tr{
    cursor: pointer;
}

#resultado span{
    border-radius: 15px;
    padding: 5px;
}

span.normal{
    background-color: #EEF495;
}
span.urgente{
    background-color: #FF1717;
}

span.nuevo{
    background-color: #A9FBFF;
    color: black;
}
tr.seleccionado:hover{
    background-color: #DCC7AA;

}
tr.seleccionado{
    background-color:#DCC7AA ;
}



img.papelera{
    width: 25px;
    height: 25px;
}