
/*
|--------------------------------------------------------------------------
| DETALLE INFORMACION - Estilo para las vistas informacion.blade.php | adoptar.blade.php
|--------------------------------------------------------------------------
*/
#informacion{
    background-color:#DCC7AA; 
    margin: 7%;
    border-radius: 15px;
    padding: 1%;
    padding-bottom: 3%;
}
#informacion h1{
    font-family: 'Amatic SC';
    font-size: 8em;
    margin-left: 1em;
    color: #80725F;  
    margin-bottom: 2%;
}
#informacion h2, h5{
    color:#80725F;
}
#informacion p{
    text-align: justify;
    color: #80725F;
    font-size: 1em;

}
#informacion span{
    font-weight: bold;
}

.container{
    margin-left: 10%;
    margin-right: 10%;

    padding-left: 10px; 
    padding-right: 10px; 
}

#informacion img{
    margin-left: 25px;
}
#informacion .informacionAyudas img{
    margin-left: 25px;
    border-radius: 5px;
    filter: grayscale(100%);

}

#informacion .informacionAyudas img.sinGris,#informacion .informacionAyudas  img.mantenerGris{
    cursor: pointer;
    box-shadow: 2px 2px 10px #444F5B;        /* Sombra normal */
    filter: grayscale(0%);
}


#informacion .informacionAyudas .contenedor h2.texto-borde {
    -webkit-text-stroke: 1px #DCC7AA;
    color: #80725F; 
}

/*TEXTO EN IMAGENES*/

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

}

